<div class="homepage">
    <div class="container">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}, Join the world of codes!</p>
        <a class="btn btn-outline-light btn-lg" href="/codes" role="button">Get Started >>></a>
        <div class="code-anim">
            < <span class="blink">_</span> /></h1>
        </div>
    </div>
</div>